/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: 0;
}

/* Toggle classes */
.hide {
  display: none;
}

.show {
  display: block;
}

/* Helper classes */
.flex-row {
  display: flex;
}

.header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('./images/header_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: whitesmoke;
}

.header-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 24px 0;
}

/* Mobile menu */
.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1d1e22;
  padding: 24px;
}

.logo-toggle-wrapper {
  justify-content: space-between;
}

.mobile-menu-toggle-wrapper {
  display: flex;
  justify-content: end;
}


.mobile-menu-toggle {
  background-color: transparent;
}

.mobile-menu-nav-items {
  max-width: 50%;
  margin-top: 24px;
}

.mobile-menu-nav-item {
  border-bottom: 1px solid #d4d4dc;
  padding: 4px;
}

.mobile-menu-nav-item+.mobile-menu-nav-item {
  margin-top: 16px;
}

.mobile-menu-nav-link {
  color: white;
}

/* Desktop menu */
.desktop-menu {
  justify-content: space-between;
}

.desktop-toggle-button {
  background-color: transparent;
  color: white;
}

.desktop-menu-nav-link {
  color: white;
}


.desktop-menu-nav-items {
  display: none;
}

.desktop-menu-nav-button {
  padding: 4px 16px;
  color: white;
  border: 1px solid transparent;
  border-radius: 24px;
  font-weight: 600;
  background-color: #ff6a34;
}

@media (min-width: 768px) {

  .desktop-menu-toggle-wrapper {
    display: none;
  }

  .desktop-menu-nav-items {
    display: flex;
    gap: 24px;
  }
}

/* Intro */

.intro {
  margin-top: 64px;
}

.intro-flex-column {
  margin-top: 48px;
}

.intro-text {
  max-width: 400px;
}

.intro-subtitle {
  font-weight: 200;
  font-size: 12px;
}

.intro-title {
  margin-top: 16px;
  line-height: 1.25;
  font-weight: 600;
}

.intro-description {
  margin-top: 16px;
  line-height: 1.5;
  font-weight: 200;
}

.intro-buttons-wrapper {
  margin-top: 12px;
}

.intro-button {
  padding: 6px 16px;
  color: white;
  border: 1px solid transparent;
  border-radius: 24px;
  font-weight: 600;
}

.intro-button + .intro-button {
  margin-left: 12px;
}

.intro-button:first-child {
  background-color: #ff6a34;
  color: white;
}

.intro-button:last-child {
  border: 1px solid whitesmoke;
  background-color: transparent;
}

.intro-col {
  border-bottom: 1px solid #F1F1F1;
}

.intro-col-title {
  font-size: 16px;
}

.intro-col-text {
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 12px;
}

.intro-flex-column {

}

@media (min-width: 768px) {

  .intro {
    margin-top: 152px;
  }

  .intro-title {
    font-size: 52px;
    font-weight: 700;
  }

  .intro-buttons-wrapper {
    margin-top: 48px;
  }

  .intro-flex-column {
    display: flex;
    gap: 128px;
    justify-content: center;
    margin-top: 64px;
  }
}