/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: 0;
}

/* Toggle classes */
.hide {
  display: none;
}

.show {
  display: block;
}

/* Helper classes */
.flex-row {
  display: flex;
}

.header {
  height: max-content;
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('../assets/images/header_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: whitesmoke;
}

.header-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 24px 0;
}

/* Mobile menu */
.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #28282B;
  padding: 24px;
}

.mobile-logo {
  width: 52px;
}

.logo-toggle-wrapper {
  justify-content: space-between;
}

.mobile-menu-toggle-wrapper {
  display: flex;
  justify-content: end;
}


.mobile-menu-toggle {
  background-color: transparent;
}

.mobile-menu-nav-items {
  max-width: 50%;
  margin-top: 24px;
}

.mobile-menu-nav-item {
  border-bottom: 1px solid #d4d4dc;
  padding: 4px;
}

.mobile-menu-nav-item+.mobile-menu-nav-item {
  margin-top: 16px;
}

.mobile-menu-nav-link {
  color: white;
}

/* Desktop menu */
.desktop-menu {
  justify-content: space-between;
}

.desktop-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.desktop-logo {
  width: 52px;
}

.logo-text {
  text-transform: uppercase;
}

.desktop-toggle-button {
  background-color: transparent;
  color: white;
}

.desktop-menu-nav-link {
  color: white;
}


.desktop-menu-nav-items {
  display: none;
}

.desktop-menu-nav-button {
  padding: 4px 16px;
  color: white;
  border: 1px solid transparent;
  border-radius: 24px;
  font-weight: 600;
  background-color: #ff6a34;
}

@media (min-width: 768px) {

  .desktop-logo-wrapper {
    gap: 24px;
  }

  .desktop-logo {
    width: 72px;
  }

  .desktop-menu-toggle-wrapper {
    display: none;
  }

  .desktop-menu-nav-items {
    display: flex;
    gap: 24px;
  }
}

/* Intro */

.intro {
  margin-top: 64px;
}

.intro-flex-column {
  margin-top: 48px;
}

.intro-col + .intro-col {
  margin-top: 24px;
}

.intro-text {
  max-width: 90%;
}

.intro-subtitle {
  font-weight: 200;
  font-size: 12px;
}

.intro-title {
  margin-top: 16px;
  line-height: 1.25;
  font-weight: 600;
}

.intro-description {
  margin-top: 16px;
  line-height: 1.5;
  font-weight: 200;
}

.intro-buttons-wrapper {
  margin-top: 12px;
}

.intro-button {
  padding: 6px 16px;
  color: white;
  border: 1px solid transparent;
  border-radius: 24px;
  font-weight: 600;
}

.intro-button + .intro-button {
  margin-left: 12px;
}

.intro-button:first-child {
  background-color: #ff6a34;
  color: white;
}

.intro-button:last-child {
  border: 1px solid whitesmoke;
  background-color: transparent;
}

.intro-col {
  border-bottom: 1px solid #F1F1F1;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.intro-col-icon {
  width: 52px;
}

.intro-col-title {
  font-size: 16px;
}

.intro-col-text {
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 12px;
}

.intro-flex-column {

}

@media (min-width: 800px) {

  .intro {
    margin-top: 152px;
  }

  .intro-text {
    max-width: 40%;
  }

  .intro-subtitle {
    font-size: 16px;
  }

  .intro-title {
    font-size: 62px;
    font-weight: 700;
    line-height: 1.125;
  }

  .intro-description {
    font-size: 22px;
  }

  .intro-buttons-wrapper {
    margin-top: 48px;
  }

  .intro-flex-column {
    display: flex;
    gap: 128px;
    justify-content: center;
    margin-top: 64px;
  }

  .intro-col-title {
    font-size: 22px;
  }

  .intro-col-text {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 24px;
  }
}

/* About section */

.about-section {
  margin: 24px 0;
}

.about-container {
  max-width: 90%;
  margin: 0 auto;
}

.about-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-col {
  width: 100%;
}

.about-image {
  width: 100%;
}

.about-subtitle {
  font-weight: 200;
  font-size: 14px;
}

.about-title {
  font-size: 28px;
  line-height: 1.25;

}

.about-text {
  margin-top: 16px;
}

@media (min-width: 800px) {

  .about-section {
    margin: 64px 0;
  }

  .about-flex-column {
    flex-direction: row;
    line-height: 1.5;
  }

  .about-subtitle {
    font-size: 24px;
  }

  .about-title {
    font-size: 42px;
  }

  .about-text {
    margin-top: 24px;
  }
}

/* Stats section */

.stats-section {
  margin: 24px 0;
  background-color: #ff6a34;
  color: #F1F1F1;
  background: linear-gradient(rgba(235, 119, 10, 0.925), rgba(236, 91, 8, 0.932)), url('../assets/images/stats_bg.jpg');
  background-position: center;
}

.stats-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 24px 0;
}

.stats-flex-row {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.stats-col {
  text-align: center;
  padding: 24px 0;
}

.stats-col-title {
  font-size: 32px;
  font-weight: 700;
}

.stats-col-text {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 12px;
}

@media (min-width: 800px) {
  .stats-flex-row {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* Services section */
.services-section {
  margin: 24px 0;
}

.services-container {
  max-width: 90%;
  margin: 0 auto;
}

.services-flex-column {
  display: flex;
  flex-direction: column;
  gap: 48px;
}


.services-subtitle {
  font-weight: 200;
  font-size: 14px;
}

.services-title {
  font-size: 28px;
  line-height: 1.25;

}

.services-text {
  margin-top: 16px;
}

.services-col-image-grid {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.services-col-image-row {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.services-col-image-wrapper-1, .services-col-image-wrapper-2, .services-col-image-wrapper-3 {
  background-color: lightblue;
  padding: 32px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.services-col-image-wrapper-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('../assets/images/repair.jpg');
  background-position: center;
}
.services-col-image-wrapper-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('../assets/images/productivity.jpg');
  background-position: center;
}
.services-col-image-wrapper-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('../assets/images/technician.jpg');
  background-position: center;
}

.services-col-image-text-wrapper {
  color: white;
}

@media (min-width: 800px) {
  .services-flex-column {
    flex-direction: row;
    align-items: center;
  }

  .services-col-image-row {
    flex-direction: row;
  }
}

/* Partners section */

.partners-section {
  margin: 48px 0;
}

.partners-container {
  max-width: 90%;
  margin: 0 auto;
}

.partners-grid {
  display: flex;
  /* flex-direction: column; */
  gap: 24px;
  flex-wrap: wrap;
  /* justify-content: center; */
  margin-top: 24px;
}

.partners-brand-wrapper {
  background-color: lightcoral;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}


@media (min-width: 800px) {

  .partners-grid {
    justify-content: flex-start;
  }

  .partners-brand-wrapper {
    width: 200px;
    height: 200px;
  }
}


/* Footer */

.footer {
  height: 64px;
  background-color: #28282B;
}

.footer-container {
  max-width: 90%;
  margin: 0 auto;
}

.footer-text {
  padding: 16px;
  color: #F1F1F1;
  font-weight: 200;
  font-size: 12px;
}

